{% extends 'layouts/base.html' %}
{% block title %}Создание/изменение камеры {{type}}{% endblock title %}
{% block content %}
   <div class="card shadow">
       <div class="card-header">
           <h6>Создание камеры типа <span class="text-uppercase">{{type}}</span></h6>
       </div>
       {{messages}}<br>
       {% if messages %}
            Сообщения:
            {% for message in messages %}
                {{message}}<br>
            {% endfor %}
           <br> 
           {{request}}
            {{type}}
       {% endif %}
      
       <div class="card-body">
            <form action="{% url 'create_camers'%}" method="post">
                {% csrf_token %}
                {{form.non_fields_errors}}
                <div class="form-group form-control">
                    <div class="row">
                        <div class="col-2">
                            <label for="{{form.types.id_for_label}}" class="col-form-label">Тип камеры:</label>
                        </div>
                        <div class="col">
                            {{form.types}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="{{form.name.id_for_label}}" class="col-form-label">Имя камеры:</label>
                        </div>
                        <div class="col">
                            {{form.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                                <label for="{{form.address.id_for_label}}" class="col-form-label">IP-адрес:</label>
                        </div>
                        <div class="col">
                                {{form.address}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                                <label for="{{form.link.id_for_label}}" class="col-form-label">RTSP-ссылка:</label>
                        </div>
                        <div class="col">
                                {{form.link}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                                <label for="{{form.guid.id_for_label}}" class="col-form-label">GUID:</label>
                        </div>
                        <div class="col">
                                {{form.guid}}
                        </div>
                    </div>
                </div>
               <div class="form-group mt-2">
                   <button type="submit" class="btn btn-sm btn-outline-secondary "> Сохранить </button>
               </div>
            </form>
       </div>
   </div>
{% endblock content %}